/**************************** Site Structure *****************************/

html {
	font-size: 90%;
}

*{
	margin:0px;
	padding:0px;
}

img{
	border:0px; 
	height: 95px;
	width: 100px;
}

body {	font-family: Arial, Helvetica, sans-serif;
		font-size: .850em;
	    line-height: 1.6em;
		background: #fff url(img/body_bg.png) fixed;
		color: #666;
}
 
#container {
	font-size: 1em;
	width:960px;
	background: #FFF;
	padding: 15px 20px;
	margin: auto;
	position: relative;
	clear: both
}

.header {
	font-family:"QuicksandBook", Tahoma, Verdana, Arial, sans-serif;
	font-size: 10px;
	width: auto;
	padding: 40px 500px 30px;
	margin: 0 auto;
	border-radius: 0;
	background: #FFF;
	position: relative;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.header .menu{
	position: relative;
	left:-250px;
}

.header ol {
	position: relative;
	left:-150px;
	width:590px;
}
#site_title {width: 125px; height: 51px; position:absolute; top: 28px; right: 50px}


#site_title img {float: left}

.logo {width: 960px; margin: auto; text-align: center; letter-spacing: 3px; padding: 40px 0}

h1, h2, h3, h4 { font-family: "QuicksandBook", Arial, sans-serif} 

h1 {font-size: 34px;  padding: 0 0 20px; color: #000 }

h2, h3 {margin: 20px 0; color: #000; font-weight: normal; text-transform:normal}

h2 {font-size: 2em}

h3 {font-size: 2em}

h4 {font-size: 1.2em; font-weight: 700}



.heading_bg h1, 
.heading_bg h2, 
.heading_bg h3, 
.heading_bg h4 {background: #FFF; padding-right: 10px; display: inline-block;
}

#footer h3 {color: #888d92}


p {
	padding: 10px 0;
	font-size: 1em;
}

.post_meta {padding-bottom: 5px 3px}

.post_meta li {display: inline-block; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; font-size: 14px; height: 16px; line-height:16px; margin-right: 15px}
a {color: #2997AB; text-decoration: none}


#container ul li {list-style:none}
#container ol li {list-style: none}

table {
	background:#eaeaea;
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 12px;
	margin:20px 0;
	border-collapse: separate;
	border:#ccc 1px solid;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:0 3px 6px rgba(0, 0, 0, 0.4);
	box-shadow:0 3px 6px rgba(0, 0, 0, 0.4)
}
	
table th {padding:14px 20px; text-transform:uppercase; font-weight: bold}

table td {
   background-image: -moz-linear-gradient(top, #fafafa, #E0E0E0);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#E0E0E0));
   background-image: -webkit-linear-gradient(top, #fafafa, #E0E0E0); 
   background-image: -ms-linear-gradient(top, #fafafa, #E0E0E0);
   background-image: -o-linear-gradient(top, #fafafa, #E0E0E0);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#E0E0E0');
   padding: 14px 20px
}

table tr:last-child td:first-child {
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px}
	
table tr:last-child td:last-child {
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius: 5px}


label {font-family: Arial, Helvetica, sans-serif; font-size: .9em; color: #666}

input {display: block}

select {margin-bottom: 20px}

/**************************************************************************************/
/*------------------------------------- Buttons -------------------------------------*/
/************************************************************************************/

.button {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    
    border-color: #CCCCCC #CCCCCC #AAAAAA;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 1px #FFFFFF inset;
    color: #555555;
    font-weight: bold;
	text-decoration: none;
    padding: 5px 15px;
	font-size: 12px;
	display: inline-block;
    text-shadow: 0 0 0 transparent, 0 1px 0 #FFFFFF;
	
   background-image: -moz-linear-gradient(top, #fafafa, #E0E0E0);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fafafa), to(#E0E0E0));
   background-image: -webkit-linear-gradient(top, #fafafa, #E0E0E0); 
   background-image: -ms-linear-gradient(top, #fafafa, #E0E0E0);
   background-image: -o-linear-gradient(top, #fafafa, #E0E0E0);
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#E0E0E0')
}

.button:hover {  
  -webkit-box-shadow: 0 0 6px #cccccc;
  -moz-box-shadow: 0 0 6px #cccccc;
   box-shadow: 0 0 6px #cccccc; }

.left {
	float:left;
}
.right {
	float:right;
}
.one-third  {
	width:290px;
	margin-right: 30px;
	float:left; 
}

#prod_wrapper {border-top: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; margin-bottom: 30px; padding: 10px 0 0}

#prod_nav {
	height:156px;	
	width:870px;
	margin: auto
}

#prod_nav ul {	
	width:960px;
	margin:0 auto;	
}

#prod_nav li {	
	float:left;
	padding-left:1px;
	width:180px;
	list-style-type:none;
	text-align:center;
}

#prod_nav a {
	color:#333333;
	display:block;
	padding:17px;
	position:relative;
	word-spacing:-2px;
	font-size:11px;		
	height:122px;
	text-decoration:none;
}	

#prod_nav a.current {
	background: #f6f6f6;
	float: none;
	margin:0;
	border-bottom: 3px solid #F15A23
}

#prod_nav img {
	background-color:#fff;
	border:1px solid #ccc;
	margin:0px 0 0px 27px;
	padding:4px;		
	display:block;
}

#prod_nav strong {
	display:block;		
}

/* panes */
#panes {
	background:#fff;
	width: 870px;
	margin: auto;
	height:246px;
	margin-bottom:-20px;
	padding-bottom:20px;
	position:relative;
}


#panes div {
	display:none;		
	position:absolute;
	top:20px;
	left:20px;
	font-size:14px;
	color:#444;	
	width:835px;
	padding-right: 15px
}

#panes img {
	float:left;
	margin-right:20px;		
}

#panes p.more {
	color:#000;
	font-weight:bold;
}

#panes h5 {
	margin:0 0 10px 0;
	font-size:22px;
	font-weight:normal;
	display: inline-block
}

#foot{
	margin-right: 200px;
	height: 110px;
	text-align: center;
	color: black;
}

table{border-collapse:collapse;}
#order-table{width:100%;}
#order-table td{padding:5px;}
#order-table th{padding:5px;background:white;color:black;text-align:left;}
#order-table td.row-total{text-align:right;}
#order-table td input{width:75px;text-align:center;}
#order-table td .total-box,.total-box{border:3px solid green;width:70px;padding:3px;margin:5px 0 5px 0;text-align:center;font-size:14px;}
#order-total{font-weight:bold;font-size:21px;width:110px;}